# blender
*.blend1

# Opengl
Interactive/.vscode/*
Interactive/Source.exe

# This big file somehow appeared when i replaced the gitignore, we dont need it anymore right?
Animation/scene/OpenGLTest/Content/Main_BuiltData.uasset


# Other
*.DS_Store